html {
	margin: 0;
	padding: 0;
}

#video {
  border: 3px solid #a00;
  border-radius: 5px;
  width: 480px;
  height: 360px;
}

#canvas {
  border: 3px solid #a00;
  border-radius: 5px;
  width: 480px;
  height: 360px;
}
